.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  flex-grow: 1;
  &__logo {
    width: 300px;
    height: 100px;
    path {
      fill: #f47e50;
    }

  }
}

.theme__toggle {
  width: 80px;
  height: 32px;
  margin: 10px 10em 10px 0;
  padding: 0px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  border: 2px solid gray;
  &:before{
    content: '';
    width: 30px;
    height: 29px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.light{
    &:before{
      transform: translateX(2%);
      transform: translateY(-2%);
      background-color: black;
      transition-duration: 1s;
    }
    background-color: white;
  }
  &.dark{
    &:before{
      transform: translateX(153%);
      height: 28px;
      background-color: white;
      transition-duration: 1s;
    }
    background-color: rgba(0, 0, 0, 0.897);
  }
}