@import "../../functions";

$custom-indigo: #b087ff;
$indigo-shadow: inset 0 0 5px $custom-indigo;
$base-font-size: vw(18px);
$avatar-width: vw(150px);
$avatar-height: vh(150px);

.avatars-settings {
  width: 75%;
  padding: 0 vw(20px) vh(20px) vw(20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: $base-font-size;

  &.weak {

  }
  &.middle {

  }
  &.strong {

  }
  &.very_strong {

   }
  &.legendary {

  }
}
.ressurect-button {
  padding: vh(10px) vw(20px);
  border: 1px solid $custom-indigo;
  color: $custom-indigo;
  background: rgba(255, 255, 255, 0);
  margin-top: vh(10px);
  box-shadow: $indigo-shadow;
  &:hover {
    cursor: pointer;
    background: rgb(149, 65, 251);
    transition-duration: 0.3s;
    color: papayawhip;
  }
}
.avatar {
  svg{
      &:hover{
        cursor: url(../../images/sword_icon.svg), auto;
      }
  }
  &.death {
    svg{
      path{
        fill: #14aced;
      }
      width: vw(80px);
      height: vw(80px);
    }
  }
  &.weak {
    svg{
      path{
        fill: mediumpurple;
      }
      width: vw(120px);
      height: vw(120px);
    }

  }
  &.middle {
    svg {
      path{
        fill: mediumpurple;
      }
      width: vw(160px);
      height: vw(160px);
    }
  }
  &.strong {
    svg {
      path{
        fill: mediumpurple;
      }
      width: vw(200px);
      height: vw(200px);
    }
  }
  &.very__strong {
    svg {
      path{
        fill: mediumpurple;
      }
      width: vw(240px);
      height: vw(240px);
    }
  }
  &.legendary {
    svg {
      box-shadow: 0 0 50px indigo;
      border-radius: 50%;
      path{
        fill: mediumpurple;
      }
      width: vw(300px);
      height: vw(300px);
    }
  }
}
.base-dependent-params {
  width: fit-content;
  &__wrapper {
    width: 100%;
  }
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 200%;
  padding: vh(20px) vw(20px);
  height: fit-content;
  box-shadow: $indigo-shadow;
}