.layout{
    width: 100%;
    min-height: 100%;
}
.layout.dark{
    background: rgba(0, 0, 0, 0.918);
    color: white;
    a{
        color: white;
    }
    button{
        color: white;
    }
    svg{
        fill: white;
        &:hover{
            fill: rgb(245, 96, 11);
        }
    }
}
.layout.light{
    background: rgba(255, 255, 255, 0.918);
    color: rgb(0, 0, 0);
    a{
        color: black;
    }
    button{
        background: white;
        color: black;
    }
    svg{
        fill: black;
        &:hover{
            fill: rgb(124, 0, 226);
        }
    }
}